@import '../../../styles/variables';
@import '../../../styles/mixins';

.nav {
  .userProfileSection {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .profileImg {
    border-radius: 50%;
    cursor: pointer;
  }
  @include flexCenter;
  gap: 15px;

  @include mobile {
    display: none;
  }
}
