@import '../../styles/variables';
@import '../../styles/mixins';

.listInputWidth {
  width: 860px;
}

.recentSearch {
  margin-top: 20px;

  .title {
    @include flexCenter;
    justify-content: space-between;

    h2 {
      @include fontStyle400($font-size: 16px);
    }

    button {
      @include fontStyle400($font-size: 14px, $color: $gray400);
    }
  }

  ul {
    list-style: none;
    padding: 0;
    @include flexCenter;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;

    li {
      @include flexCenter;
      justify-content: space-between;
      gap: 5px;
      background-color: $gray100;
      padding: 5px 8px;
      border-radius: 15px;
    }
  }
}

.keyword {
  @include fontStyle400($font-size: 14px, $color: $gray500);
}

.removeButton {
  @include fontStyle400($font-size: 14px, $color: $gray400);
}

.keywordNone {
  @include fontStyle400($font-size: 14px, $color: $gray400);
}

@include tablet {
  .listInputWidth {
    width: 704px;
  }
}

@include mobile {
  .listInputWidth {
    width: 335px;
  }

  .recentSearch {
    margin-top: 18px;

    .title {
      h2 {
        font-size: 14px;
      }

      button {
        font-size: 12px;
      }
    }
  }

  .keyword {
    font-size: 12px;
  }

  .removeButton {
    font-size: 12px;
  }

  .keywordNone {
    font-size: 12px;
  }
}
