@import '../../styles/variables';

.profileDetail {
  width: 320px;
  height: 671px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px 0px #00000014;
  position: relative;
  bottom: 40px;
}

.profileImage {
  padding: 60px;
}

.image {
  border-radius: 50%;
  object-fit: cover;
}

.profileInfo {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
}

@mixin info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@mixin info-p($color: $gray400) {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: $color;
}

.profileKey {
  @include info;
  p {
    @include info-p;
  }
}

.profileValue {
  @include info;
  p {
    @include info-p($gray500);
  }
}
