@import '../../styles/variables';
@import '../../styles/mixins';

.profileDetail {
  width: 320px;
  height: 671px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px 0px #00000014;
  position: relative;
  bottom: 40px;
}

.profileImage {
  padding: 60px;
}

.image {
  border-radius: 50%;
  object-fit: cover;
}

.profileInfo {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
}

@mixin info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profileKey {
  @include info;
  p {
    @include fontStyle400($font-size: 14px, $line-height: 24px, $color: $gray400);
  }
}

.profileValue {
  @include info;
  p {
    @include fontStyle400($font-size: 14px, $line-height: 24px, $color: $gray500);
    &:empty {
      height: 24px;
      margin: 0;
    }
  }
}

@include tablet {
  .profileDetail {
    width: 624px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    gap: 40px;
    padding: 20px 0 30px 30px;
    margin: 15px 0 0;
    position: static;
  }

  .hide {
    display: none;
  }

  .profileImage {
    padding: 0;
  }

  .image {
    width: 71px;
    height: 71px;
  }

  .profileInfo {
    gap: 10px;
    padding-left: 0;
  }

  .profileKey {
    @include info;
    gap: 4px;
  }

  .profileValue {
    @include info;
    gap: 4px;
  }

  .profileButton {
    position: relative;
    bottom: 30px;
    left: 300px;
  }
}

@include mobile {
  .profileDetail {
    width: 335px;
    gap: 20px;
    padding: 15px 0 40px 20px;
    margin: 12px 0 0;
  }

  .image {
    width: 62px;
    height: 62px;
  }

  .profileKey {
    @include info;
    gap: 3px;
  }

  .profileValue {
    @include info;
    gap: 3px;
  }

  .profileButton {
    position: relative;
    bottom: 30px;
    left: 155px;
  }
}
