@import '../../styles/variables';
@import '../../styles/mixins';

$HakgyoFont: HakgyoansimDunggeunmisoTTF-R;

.cardContainer {
  display: flex;
  gap: 20px;

  img {
    object-fit: cover;
  }

  p {
    word-break: keep-all;
  }
}

.imageCard,
.textCard {
  max-width: 350px;
  width: 100%;
  aspect-ratio: 3.5 / 4.5;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  transform: scale(1);
  transition: all 0.25s ease-in-out;

  &:hover {
    transform: scale(1.015) translateY(-5px);
    box-shadow:
      0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
  }

  @include mobile {
    max-height: 100%;
    width: auto;
    aspect-ratio: 1;
  }
}

.imageCard {
  cursor: pointer;
  border-radius: 20px;

  img {
    border-radius: 20px;
    height: 100%;
    width: 100%;
  }
}

.textCard {
  background-color: $primary-green100;
  padding: 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  .quote {
    img {
      filter: brightness(0) saturate(100%) invert(25%) sepia(11%) saturate(1480%) hue-rotate(191deg) brightness(90%)
        contrast(90%);
    }
    @include fontStyle700($font-family: $HakgyoFont, $font-size: 32px, $line-height: 115%, $color: $gray600);
    @include mobile {
      font-size: 28px;
    }
  }

  .summary {
    padding-bottom: 30px;
    @include fontStyle300($font-family: $HakgyoFont, $font-size: 15px, $line-height: 115%, $color: $gray500);
    span:not(:last-child) {
      padding-right: 10px;
    }
  }

  .cardFoot {
    display: flex;
    align-items: center;
    gap: 20px;

    @include fontStyle300($font-family: $HakgyoFont, $font-size: 15px, $line-height: 115%, $color: $gray600);

    img {
      border-radius: 50%;
    }

    .name {
      padding-bottom: 5px;
    }
  }
}
