@import '../../styles/mixins';
@import '../../styles/variables';
@import '../../styles/mixins';

.container {
  margin-top: 20vh;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin-bottom: 64px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;

  width: 100%;
  max-width: 400px;

  button {
    width: 100%;
    margin: 32px 0;
  }

  a {
    margin-left: 10px;
    color: $primary-green200;
  }
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: start;

  & .error {
    outline: 1px solid $secondary-red200;
  }

  p {
    display: none;

    &.message {
      display: block;
      color: $secondary-red200;
    }
  }
}
