@import '../../styles/variables';
@import '../../styles/mixins';

.profileDetail {
  @include flexCenter;
  flex-direction: column;
  position: sticky;
  max-width: 480px;
  height: 787px;
  padding: 0 40px 36px 40px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 4px 20px 0px #00000014;
}

.profileImage {
  padding: 60px;
}

.image {
  border-radius: 50%;
  object-fit: cover;
}

.profileInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@mixin info-p($color: $gray400) {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: $color;
}

.profileKey {
  @include info;
  p {
    @include info-p;
  }
}

.profileValue {
  @include info;
  p {
    @include info-p($gray500);
    &:empty {
      height: 24px;
      margin: 0;
    }
  }
}

@include tablet {
  .profileDetail {
    position: static;
    max-width: 100%;
    margin: 0;
    height: 388px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 20px 16px 36px 16px;
  }

  .hide {
    display: none;
  }

  .profileImage {
    padding: 0;
  }

  .image {
    width: 71px;
    height: 71px;
  }

  .profileInfo {
    gap: 10px;
    padding-left: 0;
    flex-wrap: wrap;
  }

  .profileKey {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 16px 40px;
  }

  .profileValue {
    @include info;
    gap: 4px;
  }
}

@include mobile {
  .profileDetail {
    gap: 24px;
    height: 519px;
    padding: 24px 16px 16px 16px;
  }
  .profileKey {
    display: flex;
  }
}
