@import '../../../styles/variables';
@import '../../../styles/mixins';

.alarmContainer {
  position: relative;
  display: flex;

  .notificationCircle {
    background-color: red;
    height: 10px;
    width: 10px;
    position: absolute;
    right: 0;
    border-radius: 50%;

    @include mobile {
      height: 8px;
      width: 8px;
      right: 2px;
    }

    &.hidden {
      display: none;
    }
  }

  .bellButton {
    cursor: pointer;
    @include mobile {
      img {
        height: 24px;
        width: 24px;
      }
    }
  }
}
