$primary-green100: #eef9f6;
$primary-green200: #4cbfa4;
$primary-green300: #32a68a;
$primary-green400: #209176;

$secondary-red100: #fbeded;
$secondary-red200: #d14343;

$secondary-purple: #8e66ff;

$secondary-yellow: #fdd181;

$gray600: #3b415b;
$gray500: #474d66;
$gray400: #8f95b2;
$gray300: #c6cada;
$gray200: #e4e5f0;
$gray100: #f7f7fa;
$gray50: #ffffff;

$header-height: 60px;
$footer-height: 200px;
