@import './reset';
@import './variables';
@import './font';
@import './mixins';
@import './typography';

body {
  position: relative;
  padding-top: $header-height;
  padding-bottom: $footer-height;
  min-height: 100vh;
  overflow-x: hidden;
}

.button {
  height: 40px;
  padding: 0 11px;
  border-radius: 10px;
  background-color: $primary-green200;
  color: $gray100;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.input {
  height: 45px;
  padding: 14px 20px;
  border-radius: 10px;
  background-color: $gray100;
  border: none;

  &:focus {
    outline: 1px solid $primary-green200;
  }
}

.input-search {
  padding-left: 35px;
  background-image: url('../public/icon/icon-search.png');
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: 10px;
}

.link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: $gray400;
  text-decoration: none;
}

.auth-container {
  padding: 12vw 10px 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin-bottom: 64px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;

  width: 100%;
  max-width: 400px;

  button {
    width: 100%;
    margin: 32px 0;
  }

  span {
    margin-right: 10px;
  }
  a {
    color: $primary-green200;
  }
}

.custom-snackbar {
  .ant-message-notice-content {
    height: 50px !important;
    padding: 13px 20px 15px 20px !important;
    border-radius: 10px !important;
    font-family: 'Pretendard Variable' !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    gap: 20px !important;

    img {
      margin-right: 10px;
    }
  }

  &-success .ant-message-notice-content {
    background-color: $primary-green100 !important;
    border: 1px solid $primary-green200 !important;
    color: $primary-green200 !important;
  }

  &-error .ant-message-notice-content {
    background-color: $secondary-red100 !important;
    border: 1px solid $secondary-red200 !important;
    color: $secondary-red200 !important;
  }
}
