@import '@/styles/_variables';
@import '@/styles/_mixins';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');

.quill.custom .ql-container {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

.quill.custom .ql-snow .ql-editor blockquote {
  border-left: 4px solid $gray500;
  margin: 0;
  padding: 5px 0 0 10px;

  &:before {
    color: #ccc;
    font-family: Arial;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  &:last-of-type {
    margin-bottom: 1em;
    padding-bottom: 0.5em;
  }

  p {
    display: inline;
  }
}

.quill.custom .ql-editor {
  padding: 56px 0 0 0;
  font-size: 16px;
}

.quill.custom .ql-editor .ql-video {
  min-width: 100%;
  min-height: 400px;
}

.quill.custom .ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  width: 100%;
  background: $gray100;
  border: none;
}

.quill.custom .ql-snow .ql-editor h1 {
  position: relative;
  padding-top: 32px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid $gray200;
  font-size: 24px;
  color: $gray500;
}

.quill.custom .ql-snow .ql-editor h2 {
  font-size: 20px;
  color: $gray500;
}

.quill.custom .ql-snow .ql-editor h1:first-child {
  padding-top: 0;
}

.quill.custom .ql-container.ql-snow {
  border: none;
}

.quill.custom .ql-snow .ql-picker {
  color: $gray400;
}

.quill.custom .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  border: none;
}

.quill.custom .ql-snow .ql-picker.ql-header .ql-picker-label[data-value='1']::before,
.quill.custom .ql-snow .ql-picker.ql-header .ql-picker-item[data-value='1']::before {
  font-size: 16px;
  content: '제목';
}

.quill.custom .ql-snow .ql-picker.ql-header .ql-picker-label[data-value='2']::before,
.quill.custom .ql-snow .ql-picker.ql-header .ql-picker-item[data-value='2']::before {
  font-size: 16px;
  content: '소제목';
}

.quill.custom .ql-snow .ql-picker.ql-header .ql-picker-label::before,
.quill.custom .ql-snow .ql-picker.ql-header .ql-picker-item::before {
  font-size: 16px;
  content: '본문';
}

.quill.custom .ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
  margin-top: -13px;
}

.quill.custom .ql-toolbar.ql-snow .ql-picker-label .ql-stroke:nth-child(2) {
  display: none;
}

.quill.custom .ql-toolbar.ql-snow .ql-formats:last-child {
  margin-right: 0;
}

.quill.custom {
  .ql-snow .ql-stroke {
    color: $gray400;
    stroke: $gray400;
  }
}

.quill.custom {
  .ql-snow.ql-toolbar button:hover,
  .ql-snow .ql-toolbar button:hover,
  .ql-snow.ql-toolbar button:focus,
  .ql-snow .ql-toolbar button:focus,
  .ql-snow.ql-toolbar button.ql-active,
  .ql-snow .ql-toolbar button.ql-active,
  .ql-snow.ql-toolbar .ql-picker-label:hover,
  .ql-snow .ql-toolbar .ql-picker-label:hover,
  .ql-snow.ql-toolbar .ql-picker-label.ql-active,
  .ql-snow .ql-toolbar .ql-picker-label.ql-active,
  .ql-snow.ql-toolbar .ql-picker-item:hover {
    border-radius: 5px;
    background: $gray200;
    color: $gray500;
    stroke: $gray500;
  }
}

.quill.custom {
  .ql-snow.ql-toolbar button:hover .ql-stroke,
  .ql-snow .ql-toolbar button:hover .ql-stroke,
  .ql-snow.ql-toolbar button:focus .ql-stroke,
  .ql-snow .ql-toolbar button:focus .ql-stroke,
  .ql-snow.ql-toolbar button.ql-active .ql-stroke,
  .ql-snow .ql-toolbar button.ql-active .ql-stroke,
  .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
  .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
  .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
  .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
  .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
  .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
  .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
  .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
  .ql-snow.ql-toolbar button:hover .ql-stroke-miter,
  .ql-snow .ql-toolbar button:hover .ql-stroke-miter,
  .ql-snow.ql-toolbar button:focus .ql-stroke-miter,
  .ql-snow .ql-toolbar button:focus .ql-stroke-miter,
  .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
  .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
  .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
  .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
  .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
  .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
  .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
  .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
  .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
  .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
    color: $gray500;
    stroke: $gray500;
  }
}

@include tablet {
  .quill.custom .ql-toolbar.ql-snow {
    display: inline-block;
    text-align: center;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
