@import '../../styles/mixins';

.pcProfile {
  display: flex;
  gap: 80px;
  margin: 78px auto;
  width: 1260px;
  position: relative;
  left: 140px;
  height: auto;

  .profileDetails {
    position: sticky;
    top: 80px;
  }
}

@include tablet {
  .wikiProfile {
    display: block;
    margin: 60px auto;
    width: 624px;
  }
}

@include mobile {
  .wikiProfile {
    display: block;
    margin: 40px auto;
    width: 335px;
  }
}
