@import '../../styles/mixins';
@import '../../styles/variables';

.searchForm {
  width: 860px;
  margin: 80px auto 57px;

  p {
    @include fontStyle400($font-size: 16px, $line-height: 26px, $color: $gray400);
    margin-top: 25px;

    span {
      color: $primary-green200;
    }
  }
}

.profileList {
  margin: 57px auto;
  width: 859px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.noProfileFound {
  margin: 160px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  p {
    @include fontStyle500;
  }
}

.listInputWidth {
  width: 860px;
}

@include tablet {
  .searchForm {
    width: 704px;
    margin: 60px auto;

    p {
      margin-top: 20px;
      line-height: 19px;
    }
  }

  .profileList {
    margin: 100px auto;
    width: 704px;
  }

  .noProfileFound {
    margin: 270px auto;
  }
}

@include mobile {
  .searchForm {
    width: 335px;
    margin: 40px auto 40px;

    p {
      margin-top: 15px;
      font-size: 14px;
      line-height: 14px;
    }
  }

  .profileList {
    margin: 40px auto;
    width: 335px;
    gap: 8px;
  }

  .noProfileFound {
    margin: 130px auto;
    gap: 35px;
    width: 273px;

    p {
      font-size: 18px;
      line-height: 26px;
    }
  }
}
